/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.4;
}
h1 {
  font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
}
p,
a {
  font-size: 1.2rem;
  margin: 1%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
header a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  padding: 2%;
}
header a:hover {
  color: green;
}
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection .introWrapper {
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.heroSection .introWrapper .heroImage {
  width: 20%;
}
.midSection {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 1%;
  margin-top: 2%;
  background-color: #DCDCDC;
  border-radius: 2px;
}
